body {
	background-color: Dark-Slate-Blue;
	/*background: url(landscape-1752433_1920.jpg);*/
	font-family: 'Passion One', cursive;
}

.transparencia {
	background: transparent;
}

.container {
	padding: 10%;
}

.well {
	opacity: 0.5;
}